[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
firebase-admin = "*"
flask-restful = "*"
validate-email = "*"
flask-emailverifier = "*"
email-validator = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
